
<div class="row">
    <div class="col-md-6">
        <img [src] = "logoImg" class="image-responsive" />
    </div>

    <div class="col-md-6">
      <ul class="nav nav-tabs">
        <li [class]="showLogin?'active':''">
          <a href="#loginSection" (click)="showLogin=true">Sign In</a>
        </li>
        <li [class]="!showLogin?'active':''">
            <a href="#regSection" (click)="showLogin=false">New User</a>
        </li>
      </ul>

      <section id="loginSection" *ngIf="showLogin">
          <h3>Login Form</h3>
          <form class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col col-sm-3">User Name: </label>
                    <div class="col col-sm-6">
                      <input type="text" class="form-control" name="txtUnm" [(ngModel)]="model.userName"  reqired/>
                    </div>
                </div>
              
                <div class="form-group">
                  <label class="control-label col col-sm-3">Password: </label>
                    <div class="col col-sm-6">
                      <input type="password" class="form-control" name="txtPwd" [(ngModel)]="model.password" required/>
                    </div>
                </div>
                  
            <button class="btn pull-right">Login</button>
          </form>
        </section>

      <section id="regSection" *ngIf="!showLogin">
          <h3>Register Here </h3>
        <form class="form-horizontal">
              <div class="form-group">
                <label class="control-label col col-sm-3">User Name: </label>
                  <div class="col col-sm-6">
                    <input type="text" class="form-control" name="txtUnm" [(ngModel)]="model.userName" required/>
                  </div>
              </div>
            
              <div class="form-group">
                <label class="control-label col col-sm-3">Password: </label>
                  <div class="col col-sm-6">
                    <input type="password" class="form-control" name="txtPwd" [(ngModel)]="model.password" required/>
                  </div>
              </div>
  
              <div class="form-group">
                <label class="control-label col col-sm-3">Confirm Password: </label>
                  <div class="col col-sm-6">
                    <input type="password" class="form-control" name="txtPwdRe" [(ngModel)]="model.retypePassword" required/>
                  </div>
            </div>
          <button class="btn pull-right">Register</button>
        </form>
      </section>
    </div>
    
  </div>
